/* src/styles/variables.css */
/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Color Variables */
:root {
    --body-white: #ffffff;
    --first-color: hsl(19, 100%, 97%);
    --first-color-alt: hsl(19, 100%, 97%);
    --title-color: hsl(19, 16%, 85%);
    --text-color: hsl(19, 16%, 65%);
    --text-color-light: hsl(19, 8%, 55%);
    --box-color: #181D1F;
    --body-color: #0E1111;
    --body-color-dark: #1a2226;
    --body-main: #1a1e24;
    --btn-yellow: #CE29F9;
    --body-item-color: #314149;
    --body-item-color-dark: #27333a;
    --containers-color: hsl(19, 10%, 10%);
    --containers-color-alt: #9858F1;
    --containers-color-yellow: #B142F5;
    --btn-orange: #F47521;

    /* Font Sizes */
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.4rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font Weights */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Z-index */
    --z-tooltip: 10;
    --z-fixed: 100;

    /* Header height */
    --header-height: 3rem;

    /* Fonts */
    --body-font: montserrat, Verdana, Segoe, sans-serif;
    --title-font: "Roboto", sans-serif;
    --nav-font: "Montserrat", sans-serif;
    --subtitle-font: montserrat, Verdana, Segoe, sans-serif;
}
